
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Page Style */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.headerdiv {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 3rem;
    background-color: lightgray;
    border: 1rem solid rgb(69, 82, 141);
}

.mainhead {
    color: rgb(69, 82, 141);
    font-size: 3rem;
    padding-bottom: 2rem;
    margin-left: 0rem;
}

.headimg {
    border: .5rem solid rgb(69, 82, 141);
    border-radius: 4px;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
}

.buttons {
    text-decoration: none;
    color:rgb(69, 82, 141);
    background-color:lightgrey;
    margin: 1rem;
    margin-left: 0rem;
    padding: .5rem;
    border: .2rem solid rgb(69, 82, 141);
    border-radius: 5px 25px;
    transition: .3s;
    outline: none;
    width: 6rem;
    height: 3rem;
}

.buttons2 {
    text-decoration: none;
    color: rgb(69, 82, 141);
    background-color:lightgrey;
    margin: 2rem;
    padding: .5rem;
    border: .2rem solid rgb(69, 82, 141);
    border-radius: 5px 25px;
    transition: .3s;
    outline: none;
    width: 6rem;
    height: 3rem;
}

.buttons:hover {
    background-color: rgb(69, 82, 141);
    color: lightgrey;
}

.buttons2:hover {
    background-color: rgb(69, 82, 141);
    color: lightgrey;
    border-color: rgb(69, 82, 141);
}

.mainbody {
    background-color: lightgrey;
    border:1rem solid rgb(69, 82, 141);
    color:rgb(69, 82, 141);
}

.mainfocus {
    display: flex;
    flex-direction: row nowrap;
    width: 100%;
    margin: 1rem;
}

.mainfocus2 {
    width: 47.5%;
    margin-left: 1rem;
    border: .5rem solid rgb(69, 82, 141);
    border-radius: 4px;
}

.secondhead {
    color:rgb(69, 82, 141);
    font-size: 2rem;
    padding: 2rem;
    margin: 0rem;
}

.mainpara {
    margin: 2rem;
    margin-top: 1rem;
}

.imggroup {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.imgs {
    border:.25rem solid rgb(69, 82, 141);
    border-radius: 4px;
    margin: 1rem;
}

.footerdiv {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    color: rgb(69, 82, 141);
    background-color: lightgrey;
    border: 1rem solid rgb(69, 82, 141);
    font-size: 2rem;
}

/* contact page styling */

.maincontact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 1rem solid rgb(69, 82, 141);
    background-color: lightgray;
}

.maincontactpara {
    padding: 2.5rem;
}

#contactform {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 1rem;
}

.formname {
    width: 10rem;
    margin: .5rem;
    margin-left: 1.5rem;
    color: rgb(69, 82, 141);
}

.formemail {
    width: 10rem;
    margin: .5rem;
    margin-left: 1.5rem;
    color: rgb(69, 82, 141);
}

.contactreason {
    width: 10rem;
    margin: .5rem;
    margin-left: 1.5rem;
    color: rgb(69, 82, 141);
}

.formmessage {
    width: 20rem;
    margin: .5rem;
    margin-left: 1.5rem;
    color: rgb(69, 82, 141);
}

/* about page style */

#socialfooter {
    display: flex;
    flex-flow: row nowrap;
    text-decoration: none;
    padding: 2rem;
    background-color: lightgray;
    border: 1rem solid rgb(69, 82, 141);
}

div.polaroid {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem 1rem 0rem 1rem;
    margin-bottom: 25px;

    border: .5rem solid rgb(69, 82, 141);
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

/* animation code */

